<h2>Show service</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @service.body %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @service.user_id %>
  </li>

</ul>

<%= link "Edit", to: service_path(@conn, :edit, @service) %>
<%= link "Back", to: service_path(@conn, :index) %>
